@import 'tailwindcss';

@theme {
  --color-light: #ffffff;
  --color-dark: #171717;
}

html,
body,
#root {
  height: 100%;
  margin: 0;
  padding: 0;
  overflow: hidden;
}

@media (prefers-color-scheme: dark) {
  body {
    color: var(--color-light);
    background: var(--color-dark);
    font-family: Arial, Helvetica, sans-serif;
  }
}

@media (prefers-color-scheme: light) {
  body {
    color: var(--color-dark);
    background: var(--color-light);
    font-family: Arial, Helvetica, sans-serif;
  }
}

/* Leaflet map styles */
.leaflet-container {
  font-family: Arial, Helvetica, sans-serif;
}
